<header class="header">
    <div class="header-widget">
        <div class="header-widget-img">
            <img src="/assets/newImg/19.jpg" alt="photo">
        </div>
        <div class="header-widget-content">
            <span>Stephen</span>
            <span>just made</span>
            <span>$312</span>
        </div>
    </div>
    <div class="header-wrapper-content">
        <div class="new-container">
            <div class="header-wrapper-content-red-text">
                <p><b>WARNING:</b><span> Due to extremely high media demand, we will close registration as of</span>
                    <b>12/20/2018 </b> -
                    <b> HURRY!</b>
                    <b>10:43</b>
                </p>
            </div>
        </div>
    </div>
    <div class="header-wrapper">
        <div class="new-container">
            <div class="header-wrapper-title">
                <h1>Will YOU Be The Next Weed
                    Millionaire?</h1>
            </div>
        </div>
    </div>
    <img class="header-logo" alt="img" src="/assets/newImg/logo.png"/>
</header>
