<section class="section-first">
    <div class="new-container">
        <div class="section-first-wrapper">
            <div class="section-first-wrapper-video">
                <h2>Learn How You Can Make a Fast Fortune</h2>
                <span>from “Million-Dollar” Marijuana Stocks </span>
                <video controls autoplay src="https://go-net-system.com/Weed-Millionaire/assets/wms_01_en.mp4"
                       type="video"></video>
            </div>
            <div class="section-first-wrapper-form">
                <span> Join The Cannabis Craze and profit </span>
                <span><b>right now</b></span>
                <form>
                    <div class="form-full-name">
                        <input type="text" placeholder="First Name">
                        <input type="text" placeholder="Last Name">
                    </div>
                    <input type="email" placeholder="Email Address">
                    <div class="form-phone-number">
                        <label for="tel">+31</label>
                        <input type="tel" id="tel">
                    </div>
                    <input type="password" placeholder="Password">
                    <button class="get-start">GET STARTED TODAY!</button>
                </form>
            </div>
        </div>
        <div class="section-first-intro">
            <div class="section-first-intro-steps">
                <div class="section-first-intro-step">
                    <span>Watch this video and get ready to make profit.</span>
                </div>
                <div class="section-first-intro-step">
                    <span>Create your free account by filling out the form above.</span>
                </div>
                <div class="section-first-intro-step-3">
                    <span>Make big profits using our system!</span>
                </div>
            </div>
            <div class="section-first-intro-logo">
                <img src="/assets/newImg/logos.png">
            </div>
        </div>
    </div>
</section>
<section class="section-second ">
    <div class="new-container">
        <div class=" ">
            <div class="section-second-wrapper-logo">
                <h3 class="section-second-wrapper-logo-title">As seen on</h3>
                <img alt="" src="../../assets/newImg/as-seen-on.png">
            </div>
            <div class="section-second-wrapper-content">
                <h2>Is This The Next Gold Rush?</h2>
                <h3>Get In On The “Green” Rush Right Now Before It’s Too
                    Late...</h3>
                <div class="section-second-wrapper-content-description">
                    <p>Leading investors around the world all agree the Cannabis Craze is officially the
                        biggest boom since Bitcoin.</p>
                    <p>Since Canada has officially legalized marijuana, profits for weed stocks have
                        been EXPLODING…</p>
                    <p>...with profits expected to soar as high as big, “expensive” stocks like Google,
                        Apple and Facebook. Making right now the very last chance “little guys” like you and I have to
                        rake
                        in big profits from marijuana penny stocks.</p>
                    <p>In fact, millions of ordinary people like you and I have seen their lives
                        transformed after jumping in to the million-dollar pot market.</p>
                    <p>There are multiple opportunities to make money as hundreds of weed stocks are
                        popping up every day that are currently trading for pennies…</p>
                    <p>Like</p>
                    <div class="section-second-wrapper-content-diagram">
                        <div class="section-second-wrapper-content-diagram-first">
                            <p>Canopy Growth Corporation<span>(NYSE:CGC)</span></p>
                            <img src="../../assets/newImg/image2-sm.gif" alt="">
                        </div>
                        <div class="section-second-wrapper-content-diagram-second">
                            <p>Cronos Group<span> (NASDAQ:CRON)</span></p>
                            <img src="../../assets/newImg/image3-sm.gif" alt="">
                        </div>
                        <div class="section-second-wrapper-content-diagram-third">
                            <img src="../../assets/newImg/image4-sm.gif" alt="">
                            <p>Tilray<span> (NASDAQ:TLRY)</span></p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>